.parent
{
    background-color: gold;
    padding: 10px;
    display: inline-flex; /*متل الفلكس بس الديف بيصير على قد المطلوب ما بيكون بكل الصفحة موجود */
    display: flex; /* بتجيب العناصر بشكل عرضي ولكن الديف بياخد شكلو متل ما هو على طول الصفحة */
    /*ملاحظة اجباري بدي حط كلمة فليكس قبل ما اشتغل والا ما بيشتغل معيي شي*/
    flex-direction: row; /*تحدد اتجاه توزيع العناصر داخل العنصر الأب سواءأفقي او عمودي*/
    flex-direction: row-reverse; /*اتجاه الافقي ولكن العناصر تكون بترتيب معكوس
    ممكن يكون عمود ويمكن عمود معكوس*/
    flex-wrap: wrap; /*يحدد اذا كانت العناصر تلتف على عدة اسطر او تبقى على سطر واحد*/
    
    /*wrap يتعمل التفاف بحيث العناصر بتنزل لتحت 
    wrap reverse بتعمل التفاف بحيث العناصر بتطلع لفوق */
    
    flex-flow: wrap row; /*اختصار للدايركشن والراب*/
    justify-content: flex-start; 
    
    /*يحدد توزيع العناصر على المحور الرئيسي ويسمح بتوزيع المسافات بين العناصر
    هاد الحكي بالنسة ل justify-content*/
    
    /*flex-strart  توزيع من البداية بالنسبة للاتجاه 
    flex-end توزيع من النهاية بالنسبةللاتجاه
    center بالنص 
    وهاد الكلام ينطبق في حالك كان الدايركشن شاقولي 
    space-betnween مسافة بين كل دفين ابن
    space-around مسافة حول كل ديف
    space-evenly مسافة بالتساوي */
    
    /*align-content space-betnweenو space-around  بتشتغل وقت كون عاملة راب حصرا ولا يوجد مسافات كبيرة فاصلة ويمكن كتاب
    align-items  بتشتغل بدون راب عادي ويوجد مسافة بين السطور وقت يكون معمول راب ولايمكن اعمل سبليس بيتوين وسبايس اروند
    */
    gap: 30px; /*للتحكم في المسافة بين العناصر الموجودة ب الديف الاب */


}
.parent div
{
    padding: 10px;
    margin: 10px;
}
.item1
{
    align-self:center; /*التحكم في محاذاة العنصر الابن*/
    background-color: green;
    order: 1; /*التحكم بترتيب العنصر الابن*/
    flex-grow: 1; /*التحكم في نمو وتوسع الابناء داخل العنصر الاب*/
}
.item2{
    background-color: red;
    flex-shrink: 0; /*التحكم في تقلص العنصر
    الحالة الافتراضية 0 لا يوجد انكماش
    1 تقليص 
    كل ما كان الرقم اكبر كل ما كان العنصر له الاولوية بالتقلص*/
}
.item3
{
    background-color:gray ;
    flex-basis: auto; /*التحكم في الحجم الاولي للابن
    في حال كان الاتجاه افقي ف هي تتحكم بwhidth
    في حال كان الاتجاه عمودي ف هي تتحكم بالhight */
}
.item4
{
    background-color: pink;
    flex: 0 1 200px;
    /*هي الفليكس مختصرة قيمة اولى هي الجرو والتانية للشرينك والتالتة للباسيس
    */
}